body {
    background-color: gray;
    text-align: center;
    cursor: crosshair;
}

h3{
    font-size: 22px;
    color: red;
}

h2{
    font-size: 22px
}

h1{	
    font-size: 30px;
    border-style: dotted;		  
}

p{
    
    font-variant: small-caps;
}

a{
    font-size: 20px;
    color: gold;
}
a:hover{
    font-size: 8px;
    color:gray;
}

div{
    font-size: 12px;
    transform: rotate(180deg);
    border: groove thick red;
}
